-i https://pypi.org/simple/
certifi==2021.5.30
chardet==4.0.0
click==7.0
facebook-sdk==3.1.0
flask-sqlalchemy==2.4.1
flask==1.1.1
greenlet==1.1.0 ; python_version >= '3'
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
python-dotenv==0.10.3
requests==2.25.1
sqlalchemy==1.4.17
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
werkzeug==0.15.5
zipp==3.4.1
